<div *ngIf="!hideTable">
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="login">Nom d'utilisateur</label>
        <input id="login" formControlName="login" type="text" />
        <div *ngIf="loginForm.get('login')?.invalid && loginForm.get('login')?.touched" class="error">
          Nom d'utilisateur requis
        </div>
      </div>
  
      <div>
        <label for="password">Mot de passe</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Mot de passe requis (min 8 caractères)
        </div>
      </div>
  
      <button type="submit" [disabled]="!isFormValid">Se connecter</button>
    </form>
  </div>
  