<div class="basket-container" *ngIf="(products$ | async) as products">
    <div *ngIf="products.length > 0; else emptyBasket">
        <div *ngFor="let product of products" class="basket-item">
            <p>{{ product.name }} - {{ product.price }}€ x {{ product.quantity }}</p>
            <div>
                <input type="number" class="form-control d-inline-block w-auto" [value]="product.quantity" (change)="updateQuantity(product.id, $event)" min="0">
                <button class="btn btn-danger" (click)="removeProduct(product.id)">Remove</button>
            </div>
        </div>
        <p class="basket-total">Total: {{ (totalAmount$ | async)?.toFixed(2) }}€</p>
    </div>
    <ng-template #emptyBasket>
        <p class="empty-basket-message">Votre panier est vide.</p>
    </ng-template>
</div>